<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <!--Favicon-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!--Header Section-->
    <header>
      <h1 class="logo">ELMS</h1>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />

      <nav>
        <div class="topnav">


            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link name">{{name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout"
                  ><i class="fa fa-sign-out" aria-hidden="true">LOGOUT</i></a
                >
              </li>
            </ul>


        </div>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

    <!--Modal Buttons-->
    <div class="center">
      <div>
        <button class="modal-open" data-modal="modal1">Add Employee</button>
      </div>
      <div>
        <button class="modal-open" data-modal="modal2">Delete Employee</button>
      </div>
      <div>
        <button class="modal-open" data-modal="modal3">Search Employee</button>
      </div>

      <form action="/manageleaves" method="post">
        <div>
          <button class="modal-open">Manage Leaves
            {% if notification > 0 %}
            <span class="badge">{{notification}}</span>
            {% endif %}
          </button>
        </div>
      </form>

      <!--<div>
        <button class="modal-open" data-modal="modal4">
          Search Leaves By Date
        </button>
      </div>

    </div>-->

    <!--Modals-->
    <!--Add Employee-->
    <div class="modal" id="modal1">
      <div class="modal-content">
        <div class="modal-header">
          Add Employee
          <button class="icon"><i class="material-icon">&times;</i></button>
        </div>
        <form action="/addemployee" method="post">
          <div class="modal-body">
            <label for="Employee Name">Employee Name:</label>
            <input
              type="text"
              class="emp-name"
              placeholder="Employee Name"
              name="empname"
              required
            />
            <label for="Email">E-mail:</label>
            <input
              type="email"
              class="mail"
              placeholder="abc@e-mail"
              name="email"
              required
            />
            <label for="Employee Role">Employee Role:</label>
            <select name="emprole" id="emprole" required>
              <option selected>Select Role</option>
              <option value="developer">Developer</option>
              <option value="tester">Tester</option>
              <option value="manager">Manager</option>
              <option value="sales">Sales</option>
            </select>
            <label for="Join Date">Join Date (DD/MM/YYYY):</label>
            <input type="date" class="join-date" name="doj" required />
          </div>

          <div class="modal-footer">
            <button type="submit" class="modal-submit" data-modal="modal4">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
    <!--Delete Employee-->
    <div class="modal" id="modal2">
      <div class="modal-content">
        <div class="modal-header">
          Delete Employee
          <button class="icon"><i class="material-icon">&times;</i></button>
        </div>
        <!--Delete Form-->
        <form action="/deleteemployee" method="post">
          <div class="modal-body">
            <label for="Id">Employee ID:</label>
            <input
              type="number"
              class="empid"
              placeholder="Employee ID"
              name="empid"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-submit">Delete</button>
          </div>
        </form>
      </div>
    </div>
    <!--Search Employee-->
    <div class="modal" id="modal3">
      <div class="modal-content">
        <div class="modal-header">
          Update Employee
          <button class="icon"><i class="material-icon">&times;</i></button>
        </div>
        <form action="/searchemployee" method="post">
          <div class="modal-body">
            <label for="Id">Employee ID:</label>
            <input
              type="number"
              class="empid"
              placeholder="Employee ID"
              name="empid"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="modal-submit"
              data-modal="modal5"
            >
              Search
            </button>
          </div>
        </form>


      </div>
    </div>
    <!--Search Leaves By Date
    <div class="modal" id="modal4">
      <div class="modal-content">
        <div class="modal-header">
          Search Leaves By Date
          <button class="icon"><i class="material-icon">&times;</i></button>
        </div>
        <form action="/leavebydate" method="post">
          <div class="modal-body">
            <label for="Date">Date:</label>
            <input type="date" class="date" name="date" required />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="modal-submit"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>--->

     <!--Alert-->

      <div class="message"  id="alert">

         {% with message = get_flashed_messages(with_categories=true) %}
          {% if message %} {% for category, msg in message %}
        <div
          class="alert alert-{{category}} alert-dismissible fade show"
          role="alert"
        >
          {{msg}}
          <button
            type="button"
            class="icon"
            data-bs-dismiss="alert"
            aria-label="Close"
          >
            <i class="material-icon">&times;</i>
          </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
  </body>
<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
</html>
